name: Build

on:
  push:
    branches:
      - master
      - windows-store-distribution
  create:
    tags: [v*]

jobs:
  build:
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [macos-15, windows-latest]

    steps:
      - name: Check out Git repository
        uses: actions/checkout@v4

      - name: Install Node.js, NPM and Yarn
        uses: actions/setup-node@v4
        with:
          node-version: 18
          architecture: x64
          cache: 'yarn'

      - name: Setup MSBuild (Windows)
        if: startsWith(matrix.os, 'windows')
        uses: microsoft/setup-msbuild@v2

      - name: Install packages (Windows - allow upgrades for node-gyp)
        if: startsWith(matrix.os, 'windows')
        run: yarn install --prefer-offline

      - name: Install packages (macOS)
        if: startsWith(matrix.os, 'macos')
        run: yarn install --frozen-lockfile --prefer-offline

      - name: Prepare for app notarization
        if: startsWith(matrix.os, 'macos')
        # Import Apple API key for app notarization on macOS
        run: |
          mkdir -p ~/private_keys/
          echo '${{ secrets.api_key }}' > ~/private_keys/AuthKey_${{ secrets.api_key_id }}.p8

      - name: Build
        run: npx gulp build-ci

      - name: Electron Builder
        uses: samuelmeuli/action-electron-builder@v1
        with:
          github_token: ${{ secrets.github_token }}
          mac_certs: ${{ secrets.mac_certs }}
          mac_certs_password: ${{ secrets.mac_certs_password }}
          # Release on version tag
          release: ${{ startsWith(github.ref, 'refs/tags/v') }}
          skip_build: true
        env:
          API_KEY_ID: ${{ secrets.api_key_id }}
          API_KEY_ISSUER_ID: ${{ secrets.api_key_issuer_id }}

      - uses: actions/upload-artifact@v4
        with:
          name: SpaceEye-${{ matrix.os }}
          path: |
            release/*.dmg
            release/*.exe
